@model ICollection<Kullanici>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["mesaj"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        @TempData["mesaj"].ToString()
    </div>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Müvekkil Listesi
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="ui celled table js-basic-example dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>TC Kimlik No</th>
                                <th>Ad Soyad</th>
                                <th>E-Mail</th>
                                <th>Telefon</th>
                                <th>Adres</th>
                                <th>Dava Sayısı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var muvekkil in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info btn-block dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/Admin/Muvekkil/Duzenle/@muvekkil.TCKimlikNo" class=" waves-effect waves-block">Düzenle</a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="/Admin/Muvekkil/Sil/@muvekkil.TCKimlikNo" class="waves-effect waves-block davasil">Sil</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-capitalize">@muvekkil.TCKimlikNo</td>
                                    <td class="text-capitalize">@muvekkil.AdSoyad</td>
                                    <td>@muvekkil.EMail</td>
                                    <td class="text-capitalize">@muvekkil.Tel</td>
                                    <td class="text-capitalize">@muvekkil.Adres</td>
                                    <td class="text-capitalize">@muvekkil.Davalar.Where(x => x.AktifMi == true).Count()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="~/Assets/BSB/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/Assets/BSB/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/Assets/BSB/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    @*<script src="~/Assets/BSB/js/pages/tables/jquery-datatable.js"></script>*@
    <script src="~/Assets/BSB/js/muvekkil/listele.js"></script>
}
